body {
    background-color: white;
    font-family:'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 5px;
}
h1,h2,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2B505A;
    text-align: center;


}


a {
    color: black;
    padding: 5px;
}
ul {
    padding-top: 10px;
}
/* Styling for header*/
header{
    display: flex;
    position: relative;
    border-bottom: #2B505A solid 3px;    
}


.searchBox {
    display: none;
    margin-top: 25px;    
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.logocontainer img {
    display: flex;
    max-width: 150px;
    height: auto;
    justify-self: center auto;
    padding-top: 15px;
}
nav, #menu-checkbox {
    display: none;
}

/* Show menu ( change hamburger color?? ) */
#menu-checkbox:checked ~ nav {
    display: block;
}

#menu-checkbox {
    display: none;
}

nav a{
    display: block;
    color: rgb(243, 236, 236);
    padding: 10px;
}

nav {
    position: absolute;
    /*background-color: rgb(8, 8, 8);*/
    background-color: black;
    padding-right: 3px;
    /*z-index: -2;*/
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


img{
    width: 100%;
    height: auto;
    
}
.image-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.product-description a {
    
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;

}


.addtocart-button{
    display: block;
    font-size: 15px;
    
    border: solid 2px gray;
    right: 50%;
    max-width: 200px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
}
.size-selector{
    display: block;
    border: 2px solid gray;
    background-color: white;
    font-size: 20px;
    max-width: 200px;
    padding: 10px;
    left: 50%;
    margin: 0 auto;
    font-size: 15px;
}


.grid{
    border: solid gray 2px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid2{
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: left;
    background-color: rgb(248, 215, 221);
    font-size: 20px;
    text-align: center;
    color: #2B505A;
    

}

.grid3{
    grid-column-start: 2;
    grid-row-start: 2;
    background-color:rgb(248, 215, 221);
    text-align: center;
   
}
.addtocart-button-2{
    display: block;
    font-size: 20px;
    background-color: white;
    border: solid 2px gray;
    position: relative;
    padding: 3px;
    margin-top: 5px;
    position: right;
    max-width: 150px;
}
.content{
    text-align: center;
    max-width: 600px;
    background-color: rgb(248, 215, 221);

}
/* styling for check-out page */
input{
width: fit-content;
background-color:whitesmoke;
box-sizing: border-box;}
fieldset{
    background-color: antiquewhite;
    margin-bottom: 5px;
}
